@page "/Grid"
@using Phazor.Sample.Tools
@attribute [PhazorSample("PhazorGrid")]

<div>

    <button @onclick="@Toggle">toggle dimensions</button>
    <button @onclick="@Move">move element</button>

    <div>
        dimension @(_dimension)
    </div>

    <PhazorGrid Dimension="_dimension">

        <PhazorGridSection Context="x">
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
            <PhazorGridItem MinorIndex="@(_index + 1)" Style="background: red; height: 100%; width: 100%;z-index: -1">
            </PhazorGridItem>
        </PhazorGridSection>

        <PhazorGridSection Context="x">
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
            <PhazorGridItem>
                @(context.Row).@(context.Column)
            </PhazorGridItem>
        </PhazorGridSection>

    </PhazorGrid>

</div>

@code {

    private PhazorGridDimension _dimension = PhazorGridDimension.Rows;
    private int _index;

    public void Toggle()
    {
        _dimension = _dimension.Equals(PhazorGridDimension.Rows)
            ? PhazorGridDimension.Columns
            : PhazorGridDimension.Rows;
    }

    public void Move()
    {
        _index = (_index + 1) % 3;
        StateHasChanged();
    }

}